body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
header {
  background-image: url(./images/sunrise-at-vestrahorn-stokkness-iceland.jpg);
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
/* .navbar {
  background-color: black;
} */
.navbar nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 18px;
}
.navbar ul li {
  display: inline;
  font-family: 'Open Sans', sans-serif;
}
.navbar a {
  text-decoration: none;
  color: rgb(153, 152, 152);
  padding: 10px 10px;
  display: inline-block;
}
.navbar .txt-bold {
  font-weight: bold;
  color: white;
}
.navbar .txt-large {
  font-size: 23px;
  letter-spacing: 1.5px;
}
.navbar .{
  display: flex;
  position: relative;
}


.navbar .dropdown {
  list-style-type: none;
  margin: 0;
  top: 100%;
  left: -30px;
  padding: 0;
  display: none;
  flex-direction: column;
  min-width: 200px;
  position: absolute;
}
.navbar .dropdown li a {
  background-color: white;
  color: rgb(138, 137, 137);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 40px;
  display: block;
}
.navbar .dropdown li a:hover {
  color: rgb(66, 66, 66);;
  cursor: pointer;
}
.navbar .dropdown:hover ul {
  display: flex;
}
header .container {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
header .customer {
  width: 650px;
  font-size: 30px;
  text-align: center;
  position: relative;
}
header .customer .phrase {
  padding-bottom: 18px;
}
header .customer .phrase::after {
  content: "";
  width: 100px;
  height: 6px;
  background-color: rgb(173, 4, 89);
  border: 1px solid rgb(173, 4, 89);
  position: absolute;
  top: 200px;
  left: 270px;
}
header .customer .product {
  margin-top: 45px;
}

header .container .contact {
  width: 25%;
  margin-top: -20px;
}
header .container .contactus {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: 1px solid rgb(212, 7, 110);
  border-radius: 3px;
  margin: 0 0 16px;
}
header .container .contactus a {
  text-decoration: none;
  color: rgb(212, 7, 110);
}
header .container .author {
  text-align: center;
  width: 90%;
}