body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
header {
  background-image: url(./images/sunrise-at-vestrahorn-stokkness-iceland.jpg);
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.navbar {
  /* background-color: black; */
  padding-left: 16px;
  display: flex;
}
.navbar nav {
  display: flex;
  justify-content: flex-end;
}
.navbar nav .jivrus {
  height: 56px;
  max-width: 380px;
  display: flex;
}
.navbar nav .jivrus:hover {
  cursor: pointer;
}
.navbar nav .jivrus img {
  padding: 8px 4px 8px 12px;
}
.navbar nav .list {
  display: flex;
  
  
}
.navbar ul li, .point {
  display: inline;
  font-family: 'Open Sans', sans-serif;
}
.navbar ul li, a i { 
  padding: 0 13px;
}
.navbar ul li i {
  color: rgb(106, 106, 106, 1);
}
.navbar ul li .btn {
  margin-right: 2px;
}
.navbar ul .point {
  width: 1px;
  height: 1px;
  background-color: rgb(106, 106, 106, 1);
  border: 1px solid rgb(106, 106, 106, 1);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.navbar ul a {
  text-decoration: none;
  color: rgb(106, 106, 106, 1);
  display: inline-block;
  transition: all .2s;
}
.navbar ul li a:hover {
  color: rgb(202, 198, 198);
}
.navbar .txt-bold {
  font-weight: bold;
  color: white;
}
.navbar .txt-large {
  /* padding: 10px; */
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 1.5px;
  padding: 16px 12px;
}
.navbar .search {
  color: rgb(106, 106, 106, 1);
  padding: 18px;
  width: 48px;
}


.navbar ul .btn-down {
  position: relative;
  transition: all .3s;
}
.navbar ul .dropdown {
  list-style-type: none;
  margin: 0;
  top: 100%;
  left: -40px;
  padding: 0;
  display: none;
  flex-direction: column;
  min-width: 250px;
  position: absolute;
}
.navbar ul .dropdown li a {
  background-color: white;
  color: rgb(138, 137, 137);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 40px;
  display: block;
}
.navbar ul .dropdown li a:hover {
  color: rgb(66, 66, 66);;
  cursor: pointer;
}
.navbar ul .btn-down:hover ul {
  display: flex;
}
header .container {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
header .customer {
  width: 650px;
  font-size: 30px;
  text-align: center;
  position: relative;
}
header .customer .phrase {
  padding-bottom: 18px;
}
header .customer .phrase::after {
  content: "";
  width: 100px;
  height: 6px;
  background-color: rgb(173, 4, 89);
  border: 1px solid rgb(173, 4, 89);
  position: absolute;
  top: 200px;
  left: 270px;
}
header .customer .product {
  margin-top: 45px;
}

header .container .contact {
  width: 25%;
  margin-top: -15px;
}
header .container .contactus {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: 1px solid rgb(212, 7, 110);
  border-radius: 3px;
  margin: 0 0 16px;
}
header .container .contactus a {
  text-decoration: none;
  color: rgb(212, 7, 110);
}
header .container .author {
  text-align: center;
  width: 90%;
}